h1 {
    background-color: tomato;
    color: white;
    text-align: center;
    font-size: 7.1em;
}

#Description {
  font-family: "Times New Roman", Times, serif;
  font-style: bold;
  font-size: 15px;
  color: black;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#input[type=submit] {
    width: 20em;  height: 20em;
}

#submit {
}
